.logo-text-grow {
    color: #000;
    font-family: Gilroy-Bold, fantasy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-text-be {
    color: #F25822;
}

.navigation-box {
    padding-bottom: 10px;
}

.menu-links {
    color: #000;
    font-family: Gilroy-Medium, fantasy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-link-home {
    color: #F25822;
}

.content-box {
    margin-bottom: 10px;
}

.content-header {
    width: 522px;
    height: 222px;
    color: #000;
    font-family: Gilroy-Bold, fantasy;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-text {
    width: 466px;
    height: 48px;
    color: #888;
    font-family: Gilroy-Medium, fantasy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-button-box {
    margin-top: 25px;
}

.content-start-button {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold, fantasy;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-watch-string {
    color: #AAA;
    font-family: Gilroy-Bold, fantasy;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}